.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    color: black;  
}
 
.video-item.item img {
    max-width: 180px;
}

@media (max-width: 800px) {
    .video-item.item{
        margin-left: 0px;
        align-items: center;
    }
}